<div class="bg-img"></div>
            <div class="home">
                <div class="overlay">
                    <div class="title text-white w-100 text-center center">
                        <h4 class="pt-1 pb-5 mb-2" style="font-family: 'Dancing Script', cursive;">Book Farm</h4>
                        <h4>Never Stop reading</h4>
                        <h5>Let's grow the reading community.</h5>
                        <div class="container p-4">
                            <div class="row p-4">
                                <div class="col text-center">
                                    <button class="btn btn-outline-warning m-2 p-2" [routerLink]="['/login']"  >get started</button>
                                    <a href="#info" class="btn btn-outline-warning m-2 p-2">about</a>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col pt-4">
                                    <div style="font-family: 'Dancing Script', cursive;"><h3><i><q>I believe something very magical can happen if you read a good book.</q></i></h3></div>
                                    <div><h5 class="float-right">- J.K Rowling</h5></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              
            <div class="info" id="info">
                <div class="align-center text-white p-3">
                    <h3>Get all your books at a single stop.</h3>
                    <h6>We help to connect people who love to read.</h6>
                </div>
            </div>
            <div class="about" id="about">
                <div class="container-fluid mx-0 w-100 p-0">
                    <div class="row w-100 m-0">
                        <div class="col-md-4 col-sm-12 col-12 fixed-card">
                            <div class="container h-100 d-flex w-100">
                                <div class="card text-white" style="background-color: transparent;border: none;box-shadow: none;">
                                    <div class="card-body">
                                        <div class="icon">
                                            <fa-icon [icon]="['fas','exchange-alt']" size = '3x'></fa-icon>
                                        </div>
                                        <h3 class="my-3">Exchange</h3>
                                        <div>Exchange books amongst peers, colleagues or other enthusiastic readers.</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-12 fixed-card">
                            <div class="container h-100 d-flex w-100">
                                <div class="card text-white" style="background-color: transparent;border: none;box-shadow: none;">
                                    <div class="card-body">
                                        <div class="icon">
                                            <fa-icon [icon]="['fas','handshake']" size = '3x'></fa-icon>
                                        </div>
                                        <h3 class="my-3">Sell</h3>
                                        <div>Sell your books which you've read and share your experience with other readers.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-12 fixed-card">
                            <div class="container h-100 d-flex w-100">
                                <div class="card text-white" style="background-color: transparent;border: none;box-shadow: none;">
                                    <div class="card-body">
                                        <div class="icon">
                                            <fa-icon [icon]="['fas','comment-dollar']" size = '3x'></fa-icon>
                                        </div>
                                        <h3 class="my-3">Buy</h3>
                                        <div>Buy pre-owned books from users, but never stop reading.</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="more w-100 p-3">
                <div class="container p-4">
                    <div class="row">
                        <div class="col-md-12 p-4">
                          
                                <h4>More about us</h4>
                                <div>If you are a reading enthusiast,Don't worry if you are'nt and are having a hard time finding books that you really want to read? Then Book Farm is a platform that is best meant for you.</div>
                                <div>Book Farm puts you in contact with people who want to exchange or sell their books.</div>
                                <div>Don't want to read? You can also sell or lend your books to other enthusiastic readers in the commnity.</div>
                          
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-md-6 col-sm-12 col-12 my-2">
                            <div class="card">
                                
                                <div class="card-body">
                                    <div class="icon">
                                        <fa-icon [icon]="['fas','search']" size = '3x'></fa-icon>
                                    </div>
                                    <h5 class="py-3">Advanced Search</h5>
                                    <div>Add the books you want to sell by simply typing its title.</div>
                                </div>
                            </div>    
                        </div>
                        
                        <div class="col-xl-3 col-md-6 col-sm-12 col-12 my-2">
                            <div class="card">
                                
                                <div class="card-body">
                                    
                                    <div class="icon">
                                        <fa-icon [icon]="['fas','shopping-cart']" size = '3x'></fa-icon>
                                    </div>
                                    <h5 class="py-3">Shopping Cart</h5>
                                    <div>Add the books you want to buy/sell to the cart before finalizing.</div>
                                </div>
                            </div>    
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-12 col-12 my-2">
                            <div class="card">
                                
                                <div class="card-body">
                                    
                                    <div class="icon">
                                        <fa-icon [icon]="['fas','globe']" size = '3x'></fa-icon>
                                    </div>
                                    <h5 class="py-3">Trades Tracker</h5>
                                    <div>Keep track of your past trades easily.</div>
                                </div>
                            </div>    
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-12 col-12 my-2">
                            <div class="card">
                                
                                <div class="card-body">
                                    
                                    <div class="icon">
                                        <fa-icon [icon]="['fas','envelope-open']" size = '3x'></fa-icon>
                                    </div>
                                    <h5 class="py-3">Requests Tracker</h5>
                                    <div>Keep track of sent and received book requests easily.</div>
                                </div>
                            </div>    
                        </div>
                        
                    </div>

                </div>
                <div class="container-fluid w-100">

                </div>
            </div>
            <div class="contact text-white">
                <div class="container w-100 pt-2">
                    <div class="row py-2">
                        <div class="col">
                            <h3>Developed By Omkar Agnihotri</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12 pt-3">
                            <a href="https://www.linkedin.com/in/omkar-agnihotri-a92755181/" target="_blank"><fa-icon [icon]="['fab','linkedin']" size = '3x'></fa-icon></a>
                            <div class="p-3">Linked in</div>
                        </div>
                        <div class="col-md-6 col-12 pt-3">
                            <fa-icon [icon]="['fas','envelope']" size = '3x'></fa-icon>
                            <div class="p-3">18bce007@nirmauni.ac.in</div>
                        </div>
                    </div>
                </div>
                
            </div>