<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-5">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/requests','sent']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">sent</a>
                </li>
                <li class="nav-item"  >
                <a class="nav-link" [routerLink]="['/requests','received']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">received</a>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>