
<nav class="navbar navbar-expand navbar-dark bg-info w-100">
    <div class="navbar-brand">
        <fa-icon [icon]="['far','user-circle']"></fa-icon><span class="username"> {{ username }}</span>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive='active' >
            <a [routerLink]="['/trades']" class="nav-link">Trades</a>
        </li >
        <li class="nav-item" routerLinkActive="active">
            <a [routerLink]="['/collections',userID]"   class="nav-link">Collection</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a [routerLink]="['/exchange']" class="nav-link">Exchange</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a [routerLink]="['/requests']" class="nav-link">Requests</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a [routerLink]="['/cart']" class="nav-link">Cart</a>
        </li>
        <li class="nav-item">
          <a   (click) = 'logout()' class="nav-link">logout</a>
        </li>
        
    </ul>
</nav>