<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="container" *ngIf="!isLoading">
    
    <div class="row justify-content-center">
        <ng-template [ngIf]="result.length === 0">
            <div class="col-lg-10 col-md-12 col-sm-12 col-12 p-3">
                No requests sent
            </div>
        </ng-template>
        <ng-template [ngIf]="result.length !== 0">
            <div class="col-lg-10 col-md-12 col-sm-12 col-12 p-3" *ngFor="let request of result;let i=index">
                <div class="card" *ngIf="!requested[i]">
                    <div class="card-body">
                        <div class="user-profile container">
                            <div class="row">
                                <div class="col">
                                    <div class="user-icon p-2">
                                        <fa-icon [icon]="['far','user-circle']"  size="3x"></fa-icon>
                                    </div>
                                    <div class="username p-2"> {{ request.user.first_name+' '+request.user.last_name }}</div>
                                    <div class="email pl-2"> {{ request.user.email }}</div>
                                </div>
                                <div class="col p-3 ">
                                    <a  class="nav-link float-right" [routerLink]="['/collections',request.user.id]" routerLinkActive="router-link-active" >View {{ request.user.first_name }}'s collection</a>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col p-2 text-center">
                                        <button class="btn btn-info" (click)="showDetails(i)">show details</button>
                                    </div>
                                </div>
                                <div class="request-details" *ngIf="toggle[i]">
                                    <div class="row">
                                        <div class="col p-3 text-center">
                                            <h6>Requested by me</h6>
                                            <hr>
                                            <ng-template [ngIf]="request.books1.length === 0">
                                                <div class="p-2">
                                                    You have not requested any books yet
                                                </div>
                                            </ng-template>
                                            <ng-template [ngIf]="request.books1.length !== 0">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-2" *ngFor="let book of request.books1;let j=index">
                                                        <div class="card">
                                                            <img class="card-img-top" src="{{ book.img_src }}" style="border: 0px;max-height: 25vh;min-height: 25vh">
                                                            <div class="card-body p-1" style="min-height: 50px;">
                                                              <p class="title"><small>{{ book.title }}</small></p>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col p-3 text-center">
                                            <h6>Requested by {{ request.user.first_name }}</h6>
                                            <hr>
                                            <ng-template [ngIf]="request.books2.length === 0">
                                                <div class="p-2">
                                                    {{ request.user.first_name }} hasn't requested any books yet!
                                                </div>
                                            </ng-template>
                                            <ng-template [ngIf]="request.books2.length !== 0">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-2" *ngFor="let book of request.books2;let j=index">
                                                        <div class="card">
                                                            <img class="card-img-top" src="{{ book.img_src }}" style="border: 0px;max-height: 25vh;min-height: 25vh">
                                                            <div class="card-body p-1" style="min-height: 50px;">
                                                              <p class="title">{{ book.title }}</p>
                                                            </div>
                                                            <div class="p-2 text-center w-100" *ngIf="!book.isApproved" style="min-height: 50px;">
                                                                <button class="btn btn-outline-success btn-sm" (click)="onApprove(book.id,request.requestID,i,j)">approve</button>
                                                            </div>
                                                            
                                                            <div class="p-2 text-center w-100 text-success" *ngIf="book.isApproved" style="min-height: 50px;">
                                                                approved
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col p-3 text-center">
                                            <h6>Approved by me</h6>
                                            <hr>
                                            <ng-template [ngIf]="request.approved_books2.length === 0">
                                                <div class="p-2">
                                                    You have not approved any books yet
                                                </div>
                                            </ng-template>
                                            <ng-template [ngIf]="request.approved_books2.length !== 0">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-6 col-6" *ngFor="let book of request.approved_books2">
                                                        <div class="card">
                                                            <img class="card-img-top" src="{{ book.img_src }}" style="border: 0px;max-height: 25vh;min-height: 25vh">
                                                            <div class="card-body p-1" style="min-height: 50px;">
                                                              <p class="title">{{ book.title }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col p-3 text-center">
                                            <h6>Approved by {{ request.user.first_name }}</h6>
                                            <hr>
                                            <ng-template [ngIf]="request.approved_books1.length === 0">
                                                <div class="p-2">
                                                    {{ request.user.first_name }} has not approved any of your requeested books yet
                                                </div>
                                            </ng-template>
                                            <ng-template [ngIf]="request.approved_books1.length !== 0">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-6 col-6" *ngFor="let book of request.approved_books1">
                                                        <div class="card">
                                                            <img class="card-img-top" src="{{ book.img_src }}" style="border: 0px;max-height: 25vh;min-height: 25vh">
                                                            <div class="card-body p-1" style="min-height: 50px;">
                                                              <p class="title">{{ book.title }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-center w-100 p-3" *ngIf="!request.confirmationStatus.user1HasConfirmed">
                                            <button class="btn btn-outline-primary" (click)="onConfirm(request.requestID,request.confirmationStatus,request.approved_books2,request.approved_books1,i)">let's trade</button>
                                        </div>
                                        <div class="col text-center w-100 p-3 text-success" *ngIf="request.confirmationStatus.user1HasConfirmed">
                                            Congratulation! Waiting for {{ request.user.first_name }} to confirm
                                        </div>
                                    </div>
                                </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        
    </div>
</div>