<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6"></div>
        <div class="col-lg-6 col-md-6 p-3">
            <div class="alert alert-danger" *ngIf="error_message">{{ error_message }} </div>
            <div class="card text-center" >
                <div class="card-header bg-info text-white">Login Form</div>
                <div class="card-body">
                    <form (ngSubmit)='onSubmit(form)' #form = 'ngForm' ngNativeValidate>
                        <div class="form-group">
                            <label for="email">email</label>
                            <input type="email" id="email" class="form-control" ngModel name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">password</label>
                            <input type="password" id="password" class="form-control" ngModel name="password" required>
                        </div>
                        <button class="btn btn-info" type="submit"> Log In</button>
                        <div class="p-3">
                            Don't have an Account? <a [routerLink]="['/register']" routerLinkActive="" >Sign Up</a>
                        </div>
                    </form>
                </div>
            </div>       
        </div>
        <div class="col"></div>
    </div>    
</div>